extends ../layout

block head
  include includes/admin_head

block side
  include includes/admin_menu

block main
  div.admin-title
    | PHOTO SERIES
  div.series-form
    if series_list == "error"
      div.error-message error: failed to get series list, please refresh this page.
    else
      div.series-list
        each series in series_list
          div.series.clearfix
            input(type="hidden" name="key" value="#{series.series_key}")
            a.photo_count(href="/admin/series/#{series.series_key}") #{series.photo_count}
            span.name #{series.name}
            if series.is_show
              input.series-botton(type="button" name="hide" value="HIDE")
            else
              input.series-botton(type="button" name="show" value="SHOW")
            input.series-botton(type="button" name="delete" value="DELETE")
        div.new-series.clearfix
          input#new-series-name(type="text" name="new-series-name" placeholder="new series name")
          input#add-series.series-botton(type="button" name="add" value="ADD")
      if error_message != ""
        div.error-message
          | #{error_message}